.foto{
    text-align: center;
   
    
}


.icones {
    display: flex;
    justify-content: center; 
    gap: 40px;               
    margin-top: 10px;        
}

.icon {
    width: 38px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(1.2); 
}

.hrzin{
    margin-top: 15px;
}