.foto{
    text-align: center;
   
    
}


.icones {
    display: flex;
    justify-content: center; 
    gap: 40px;               
    margin-top: 10px;        
}


.icon {
    width: 38px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}


.icon:hover {
    transform: scale(1.2); 
}


.hrzin{
    margin-top: 29px;
}



.parag{

    font-family: Arial, Helvetica, sans-serif;
    color: #2f2c3b;
}




.sobremim{

  max-width: 600px;
  margin: 40px auto;
  padding: 8px;
  background-color: #d1d1c1;
  border-left: 5px solid #637963;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;

}

.sobre-mim h2 {
  margin-top: 3;
  color: #2c3e50;
}




.linguagens {
    display: flex;
    gap: 16px;            /* Espaço entre as caixinhas */
   /* justify-content: center;*/
    flex-wrap: wrap;
    margin-top: 6px;
}

/* Agora sim, cada linguagem vira uma caixinha separada */
.linguagem {
    background-color: #c2cad1;
    padding: 15px;
    border-radius: 3px;
    /*text-align: center; */
    width: 100px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.6s;
}

.linguagem:hover {
    transform: scale(1.04);
}

.linguagem img {
    width: 41px;
    height: 42px;
    margin-bottom: 2px;
}
